.user-group-biz-selector
    display: flex; 
.user-group-model
    .ant-modal-content
        width: 700px;
    .container-fluid
        min-height: 300px;
        max-height: 400px;
        ul
            padding: 0;
            min-height: 200px;
            max-height: 300px;
            overflow: auto;
            list-style: none;
            li
                cursor: pointer;
                padding: 0px 5px;
                line-height: 28px;
                margin-bottom: 2px;
                margin-top: 2px;
                border-radius: 4px;
    .bg-primary
        background-color: #357aff;
        color: white;
    .choose-store-list
        padding:20px 0
        overflow:auto

        .btn
            margin:0 5px 3px 0
            &.btn-primary
                background-color: #357aff;
                border-color: #357aff;
                color: white;
                cursor: pointer;
                border-radius: 4px;
        .close
            font-size:14px
            margin-left:3px
    .choose-store ul
        padding:20px 0
        overflow:auto
        li
            padding:0px 5px
            line-height:28px
            margin-bottom:1px
            border-radius:4px
