.custom-header{
    background: #2e313a;
    height: 50px;
    line-height: 50px;
}
.userInfo{
    float: right;
    height: 100%;
    cursor: pointer;
    font-size: 13px;
}
.logo{
    color: white;
    font-size: large;
    margin-left: -30px!important;
    margin-right: 48px!important;
    float: left;
}
     
img{
    width: 120px;
}
.avatar-custom{
    margin: 10px 8px 15px 0;
    color: rgb(24, 144, 255);
    background: rgba(255, 255, 255, 0.85);
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
      
.ant-dropdown-trigger{
    display: inline-block;
}
      
.menu{
        color: #c3c4c6;
        background: #2e313a;
        line-height: 50px;
        font-size: 13px;
}
      
      .anticon{
        margin-right: 8px;
      }
        
      .ant-dropdown-menu-item{
        width: 160px; 
      }
       
        
   
    