.user-group-create-page
    margin-top: 0px;
    .operator-container
        margin: 15px 0;
        > div  
          display: flex;
          justify-content: center;
          > *
            min-width: 120px;
            margin: 0 5px;
    .basic-info-container
        border: 1px solid lightgray;
        padding: 15px 0;
        .upload > div > span
            > *
                margin: 0 5px;
            > span
                color:blue;
                curse:pointer;
            .crowd-file-upload-tip
                color: red;
                font-size: 12px;
    .no-select
        user-select: none;
    .over
        border: 1px dashed #000;
        -webkit-transform: scale(0.8, 0.8);
    .indicator-container
        border: 1px solid lightgray;
        padding: 10px;
        .white-list-container
            display: flex;
            align-items: center;
            > div:first-child
                flex-shrink: 0;
            > div:last-child
                flex: 0 1 100%;
        .caculate-container
            display: flex;
            align-items: center;
            margin: 15px 0;
            > *
                margin-right: 10px;
            > span:last-child
                color: blue;
                font-size: 16px;
        .add-region
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            border: 1px  dashed #808080;
            width: 50%;
            margin: 5px auto;
            color: gray;
            margin-bottom: 3px
        .indicator-left-container
            > div:last-child
                border: 1px solid lightgray;
                padding: 5px 5px;
                .indicators-list-container
                    min-height: 300px;
                .indicators-recom-list-container
                    border: 1px lightgray solid;
            .indicator-list
                .indicator-item
                    margin: 3px 0 2px 5px; 
                    >span:last-child
                        padding: 0 5px;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        margin-left: 5px; 
                .indicator-item.checked
                    color: blue;
                    >span:last-child
                        border: 1px solid blue;
                
        .indicator-right-container
            > div.ant-form-item
                margin-bottom: 6px;
            .group-add-btn-icon
               color: blue;
               font-size: 18px;
               margin-left: 10px;
            > div:last-child
                border: 1px solid lightgray;
                padding: 0px 5px;
                .panel-item
                    min-height: 30px;
                    margin: 5px;
                    display: flex;
                    align-items: center;
                    .indicator-group
                        min-height: 30px;
                        flex-wrap: wrap;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        padding: 5px;
                        flex: 0 1 100%;
                        display: flex;
                        align-items: center;
                        .indicator-group-item
                            margin: 10px 0;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            > *
                                margin: 0 .3%;
                .tip-template
                    display: flex;
                    align-items: center;
                    padding: 3px 5px;
                    > button
                        margin: 0 20px;

