.user-group-create-page
    .create-indicator-container
        overflow: auto;
        height: 550px;
        .group-add-btn-icon
            color: gray !important;
        .store-selector-tip
            color: red;
            transform: scale(0.8);
