.push-tool-page
    span.ant-upload>*
        margin: 0 5px;
    .push-create-container
        margin: 2em 5em
    .not-display
        display: none
    .push-text
        .ant-row
            margin-bottom: 1em
        td
            border: 1px solid #eee
            padding: 5px
            line-height: 2em
        .push-text-tag-input
            border: 1px solid #eee
            padding: 1em
            background-color: #fff
    form textarea.ant-input
        height: 8em

.pushtool-coupon-modal.ant-modal
.pushtool-tag-modal.ant-modal
    min-width: 1000px !important
.pushtool-doc-modal
    .ant-modal
        min-width: 1000px !important
        min-height: 600px !important
    .ant-input
        height: 8em
.push-tool-doc-tag
    border: 1px solid #eee
    padding: 1em
    margin-top: 2em

