.user-group-city-selector
    display: flex; 
.user-group-model
    .ant-modal-content
        width: 700px;
    .dialog-title
        line-height:40px
        text-align:center
        color:#fff
        margin:0  
    .container-fluid
        min-height: 300px;
        max-height: 400px;
        overflow: auto;
        ul
            min-height: 200px;
            max-height: 300px;
            li
                cursor: pointer;
                padding: 0px 5px;
                line-height: 28px;
                margin-bottom: 1px;
                border-radius: 4px;
    .bg-primary
        background-color: #357aff;
    .city-list-all,.city-list-choosed
        height:280px
        overflow:auto
        position:relative
        button
            margin:0 5px 3px 0
            &.btn-primary
                background-color: #357aff;
                border-color: #357aff;
                &:hover
                    background-color: #357aff;
                    border-color: #357aff;
                &:active
                    background-color: #357aff;
                    border-color: #357aff;
        
        .close
            font-size:14px
            margin-left:3px
    .letter-index
        span
            font-size:12px
            line-height:1
            display:block
            cursor:pointer
            text-align:center

