.pushtool-coupon-modal
    top: 2.5em !important
    .ant-modal-body
        padding: 1em 24px 0
        table
            text-align: center !important
            th,td
                padding: 6px
                p
                    margin: 0 !important
                    padding: 5px