.button-component
  color: #000
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.42)
  padding: 8px 30px
  border-radius: 4px
  line-height: 1.8
  &.button-component-simple
    border: none
    padding: 0
    color: color-blue  
    background: transparent
  &.button-component-primary
    border: none
    color: #fff
    background-color: #357aff 
  &.button-component-large
    padding: 8px 54px
  &.button-component-small
    padding: 6px 54px