.scene-config-create-page
    margin-top: 0px;
    .scene-config-create-container
        padding: 15px 0;
        .specific_area_page
            border:1px solid #e8e8e8;
            margin-bottom:60px;
            padding: 20px;
            border-radius: 5px;
            .icon-style
                font-size: 18px;
                color: #08c;
            .map-container
                width: 100%;
                height: 400px;
        .custom_area_page
            margin-bottom:60px;
        .specific_business_page
            border:1px solid #e8e8e8;
            margin-bottom:60px;
            padding: 20px;
            border-radius: 5px;
        .border-event-type
            border:1px solid #e8e8e8;
            margin-bottom:60px;
            padding: 20px;
            border-radius: 5px;