.push-tool-detail-page
    .push-tool-detail-container
        margin: 0 5em
        .ant-row
            margin-bottom: 1em
    .push-card-page
        margin-bottom: 1em
        a
            margin-right: 10px
        .ant-form-item-label
            text-align: left
    form textarea.ant-input
        height: 7em
    td.store-name  div p
    td.store-address div p
        text-align: center !important;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;