.push-create-container
    th,td
        text-align: center !important;
    th.store-address,td.store-address,td.store-name
        >div
            display: flex;
            justify-content: center;
            >p
                text-align: center !important;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                width: 150px;
    .ant-form-item
        label
            font-size: 12px
    .push-center-tip
        color: red;
        font-size: 12px;
