.title-container
    font-size: 18px;
    color: blue;
    display: flex;
    align-items: center;
    .circle
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: blue;
        border-radius: 10px;
    > *
        margin: 5px;