.hidden-items-modal
	.container-fluid
		height:250px
		overflow:auto
		margin:30px
.hidden-items
	.show-more
		color: #357aff
		text-decoration: underline
		margin-left: 5px
	.btn-readmore
		background-color: #357aff;
		border-color: #357aff;
		color: #fff;
		margin-left: 10px;
		line-height: 15px;
		&.hover
			background-color: #357aff;
			border-color:#357aff;
			color: #fff;
		&.active
			background-color: #357aff;
			bordor-color: #357aff;
			color: #fff;