.push-tool-select-package
    transition-property: opacity,height;
    transition: 1s,0.5s;

.push-tool-select-package.removed
    height: 0;
    opacity: 0;

.push-tool-select-package.add
    height: 250px;
    opacity: 1;

.pushtool-tag-modal
    top: 2.5em !important
    .ant-modal-body
        padding: 1em 24px 0
        table
        th div
            text-align: center
        th,td
            padding: 12px
.mobile-display
    background:  #9e9e9e33
    padding: 1em
    margin-left: 10px
    border-radius: 50px
    .mobile-context
        line-height:initial
        background-color: white     
        margin: 30px 0 10px 0
        font-size: 14px
        text-align: center
        height:0
        padding-bottom: 173%
        .mobile-main
            height: 0
            text-align: left
            background-color: #fafafa
            padding: 5% 3% 136% 3%
            .ant-card-bordered
                border-radius:5px
            .custom-card
                padding: 10px
            .custom-card p
                font-size: 12px
            .link-top
                padding-top: 10px 
                border-top: 1px solid #e8e8e8
        .mobile-main img 
            width: 100%
            height: 100px      
    .mobile-home
        width: 40px
        height: 40px
        background-color: #fdfaffad
        -moz-border-radius: 20px
        -webkit-border-radius: 20px
        border-radius: 20px
        margin:0 auto
.push-text
    .ant-row
            margin-bottom: 1em
        td
            border: 1px solid #eee
            padding: 5px
            line-height: 2em
        .push-text-tag-input
            border: 1px solid #eee
            padding: 1em
            background-color: #fff
    form textarea.ant-input
        height: 8em
    .not-display
        display: none;     


